
.bg-gray-100[data-v-317d1a6e] {
        background-color: #f7fafc;
        background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
}
.border-gray-200[data-v-317d1a6e] {
        border-color: #edf2f7;
        border-color: rgba(237, 242, 247, var(--tw-border-opacity));
}
.text-gray-400[data-v-317d1a6e] {
        color: #cbd5e0;
        color: rgba(203, 213, 224, var(--tw-text-opacity));
}
.text-gray-500[data-v-317d1a6e] {
        color: #a0aec0;
        color: rgba(160, 174, 192, var(--tw-text-opacity));
}
.text-gray-600[data-v-317d1a6e] {
        color: #718096;
        color: rgba(113, 128, 150, var(--tw-text-opacity));
}
.text-gray-700[data-v-317d1a6e] {
        color: #4a5568;
        color: rgba(74, 85, 104, var(--tw-text-opacity));
}
.text-gray-900[data-v-317d1a6e] {
        color: #1a202c;
        color: rgba(26, 32, 44, var(--tw-text-opacity));
}
@media (prefers-color-scheme: dark) {
.dark\:bg-gray-800[data-v-317d1a6e] {
            background-color: #2d3748;
            background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
}
.dark\:bg-gray-900[data-v-317d1a6e] {
            background-color: #1a202c;
            background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
}
.dark\:border-gray-700[data-v-317d1a6e] {
            border-color: #4a5568;
            border-color: rgba(74, 85, 104, var(--tw-border-opacity));
}
.dark\:text-white[data-v-317d1a6e] {
            color: #fff;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.dark\:text-gray-400[data-v-317d1a6e] {
            color: #cbd5e0;
            color: rgba(203, 213, 224, var(--tw-text-opacity));
}
}

