<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Username: <br />
                        [{{ user.id }}] {{ user.email }}<br />
                        Balance: {{ user.balance }}<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {
                id: 0,
                name: '',
                email: '',
                balance: '',
                updated_at: ''
            },
            loading: true,
            errors: [],
            transactions: []
        }
    },
    mounted() {
        this.readUser()
    },
    /*watch: {
        $route() {
            console.log('watch')
            this.loading = true;
            setTimeout(() => {
                console.log('tick')
                this.readUser()
                this.loading = false;
            }, 5000);
        },
    },*/
    methods: {
        formatBalance(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            return parts.join(".");
        },
        readUser() {
            this.loading = true
            axios.get('/user/info')
                .then(response => {
                    let responseData = response.data

                    responseData.balance = this.formatBalance(responseData.balance)

                    this.user = responseData
                });
        },
        timer() {}
    }
}
</script>
