<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-12">
                            <div class="input-group">
                                <input @keyup.enter.native="this.readTransactions()" type="text" class="form-control" id="searchString" placeholder="Find..." :value=this.searchString />
                                <div @click="this.clearFilter()" class="btn btn-outline-secondary">Clear</div>
                                <div @click="this.readTransactions()" class="btn btn-success">Filter</div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover" v-if="transactions.length >0">
                            <tbody>
                                <tr>
                                    <th class="col">No.</th>
                                    <th class="col">Amount</th>
                                    <th class="col">Description</th>
                                    <th class="col" @click="this.changeDateSortOrder()">Date {{ this.dateSortOrder }}</th>
                                </tr>
                                <tr v-for="(transaction, index) in transactions">
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ $filters.currency(transaction.amount) }}</td>
                                    <td>{{ $filters.description(transaction.description, this.descriptionLength) }}</td>
                                    <td>{{ $filters.dateTime(transaction.created_at) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button @click="appendTransactions()" id="targetElement" class="btn btn-success">Load</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            transaction: {
                id: '',
                amount: '',
                description: '',
                created_at: '',
            },
            errors: [],
            transactions: [],

            newTransactions: [],

            descriptionLength: 100,
            transactionsPerPage: 20,
            lastLoadedTransactionId: 0,
            elementsLoaded: false,
            fullListLoaded: false,
            dateSortOrder: 'DESC',
            searchString: '',
        }
    },
    created () {
        window.addEventListener('scroll', this.handleScroll)
    },
    destroyed () {
        window.removeEventListener('scroll', this.handleScroll)
    },
    mounted() {
        this.readTransactions()
    },
    methods: {
        changeDateSortOrder() {
            this.fullListLoaded = false

            if (this.dateSortOrder == 'DESC') {
                this.dateSortOrder = 'ASC'
            } else {
                this.dateSortOrder = 'DESC'
            }

            this.readTransactions()
        },
        clearFilter() {
            document.querySelector('#searchString').value = ''
            this.searchString = ''
            this.dateSortOrder = 'DESC'
            
            this.readTransactions()
        },
        clearTransactions() {
            this.transactions = []
            this.lastLoadedTransactionId = 0
        },
        readTransactions() {

            this.searchString = document.querySelector('#searchString').value
            
            this.clearTransactions()

            axios.post('/transactions/list', {
                count: this.transactionsPerPage,
                transactionId: this.lastLoadedTransactionId,
                searchString: this.searchString,
                dateOrder: this.dateSortOrder,
            }).then(response => {

                if (response.data.length <= (this.transactionsPerPage - 1)) {
                    this.fullListLoaded = true
                }

                if(response.data.length > 0) {
                    this.transactions = response.data
                    this.lastLoadedTransactionId = response.data[response.data.length - 1].id

                    this.elementsLoaded = true
                }
            });

            return false
        },
        appendTransactions() {
            this.elementsLoaded = false

            if (!this.fullListLoaded) {

                axios.post('/transactions/list', {
                    count: this.transactionsPerPage,
                    transactionId: this.lastLoadedTransactionId,
                    searchString: this.searchString,
                    dateOrder: this.dateSortOrder,
                }).then(response => {

                    if (response.data.length <= (this.transactionsPerPage - 1)) {
                        this.fullListLoaded = true
                    }

                    if(response.data.length > 0) {

                        this.transactions = this.transactions.concat(response.data)
                        this.lastLoadedTransactionId = response.data[response.data.length - 1].id

                    } else {
                        this.fullListLoaded = true
                    }

                    this.elementsLoaded = true
                });
            }
        },
        loadTransactions() {
            axios.post('/transactions/list', {
                count: this.transactionsPerPage,
                transactionId: this.lastLoadedTransactionId,
                searchString: this.searchString,
                dateOrder: this.dateSortOrder,
            }).then(response => {
                    this.transactions = response.data
                    this.lastLoadedTransactionId = response.data[response.data.length - 1].id

                    this.elementsLoaded = true
                });
        },
        handleScroll() {

            if(!this.elementsLoaded) return

            let targetElement = document.querySelector('#targetElement')

            var targetPosition = {
                top: window.pageYOffset + targetElement.getBoundingClientRect().top,
                bottom: window.pageYOffset + targetElement.getBoundingClientRect().bottom
            },
            windowPosition = {
                top: window.pageYOffset,
                bottom: window.pageYOffset + document.documentElement.clientHeight
            };

            if (targetPosition.bottom > windowPosition.top && // Если позиция нижней части элемента больше позиции верхней чайти окна, то элемент виден сверху
                targetPosition.top < windowPosition.bottom) { // Если позиция левой стороны элемента меньше позиции правой чайти окна, то элемент виден справа

                this.appendTransactions()
            }
        }
    }
}
</script>