<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><span class=""></span>Last {{ this.transactionsCount }} transactions</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover" v-if="transactions.length >0">
                            <tbody>
                                <tr>
                                    <th class="col">No.</th>
                                    <th class="col">Amount</th>
                                    <th class="col">Description</th>
                                    <th class="col">Date</th>
                                </tr>
                                <tr v-for="(transaction, index) in transactions">
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ $filters.currency(transaction.amount) }}</td>
                                    <td>{{ $filters.description(transaction.description, this.descriptionLength) }}</td>
                                    <td>{{ $filters.dateTime(transaction.created_at) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button @click="readTransactions()" class="btn btn-primary float-end">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            transaction: {
                id: '',
                amount: '',
                description: '',
                created_at: '',
            },
            errors: [],
            transactions: [],

            descriptionLength: 40,
            transactionsCount: 5,
        }
    },
    mounted() {
        this.readTransactions()
    },
    methods: {
        readTransactions() {
            axios.post('/transactions/list', {
                count: this.transactionsCount,
            }).then(response => {

                if (response.data.length > 0) {
                    this.transactions = response.data
                    this.lastLoadedTransactionId = response.data[response.data.length - 1].id

                    this.elementsLoaded = true
                }
            });
        }
    }
}
</script>